@font-face {
  font-family: 'fontello';
  src: url('./assets/font/fontello.eot');
  /* src: url('./font/fontello.eot?8972620#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?8972620') format('woff'),
       url('./font/fontello.ttf?8972620') format('truetype'),
       url('./font/fontello.svg?8972620#fontello') format('svg'); */
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin: 0;
}

html,
body {
  max-width: 1020px;
  margin: 0 auto;

  font-family: 'Lato', sans-serif;

  scroll-behavior: smooth;
}

header {
  padding: 42px 40px 35px 40px;
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  color: #ffffff;
}


.logo {
  font-size: 25px;
  line-height: 6px;
  vertical-align: text-top;
  letter-spacing: -0.3px;
  color: #ffffff;
}

.logo span {
  color: #f06c64;
}

.menu ul {
  display: flex;

  list-style: none;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  color: #ffffff;
}

header .menu li.active a {
  color: #f06c64;
  text-decoration: underline;
}

.burger-menu .menu li.active a {
  color: #f06c64;
  text-decoration: underline
}

.menu li a:hover {
  text-decoration: underline;
  color: darkgray;
}

header .menu li:not(:nth-child(1)):before {
  padding: 0 15px;

  color: #494e62;
  content: "•";
  font-size: 6px;
}

.hidden {
  display: none !important;
}

.burger-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  display: flex;

  align-items: center;
  font-size: 16px;

  background-color: rgba(128, 128, 128, 0.5);

}

.burger-menu {
  padding: 48px 0 0 24px;

  height: 100%;
  width: 256px;
  background: #2D303A;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}

.burger-menu .menu {
  margin-left: 46px;
  margin-top: 187px;
}

.burger-menu .menu li {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
}


.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;

  display: flex;
  align-items: center;
  font-size: 16px;

  background-color: rgba(128, 128, 128, 0.5);
}

.message {
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;

  background-color: #fff;
}

.message p {
  width: 100%;
  text-align: justify;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-button {
  width: 100%;

  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  animation: 0.5s ease-in-out;
}

.from-right {
  animation-name: right;
  left: 0;
  top: 0;
}

.from-left {
  animation-name: left;
  left: 0;
  top: 0;
}

@keyframes left {
  from {
    left: -100%;
    top: 0;
  }

  to {
    left: 0;
    top: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
    top: 0;

  }

  to {
    left: 0;
    top: 0;
  }
}


.under-picture {
  position: absolute;
  width: 100%;
  height: 99%;
  z-index: -1;
  display: flex;
}

.vertical-bg {
  width: 40%;
  height: 100%;

  background: url(./assets/img/phone-vertical-display.png);
  background-position: 57% 45%;
  background-size: 47%;
  background-repeat: no-repeat;
}

.horisontal-bg {
  width: 60%;
  height: 100%;

  background-image: url(./assets/img/phone-horizontal-display.png);
  background-position: 27% 46%;
  background-size: 56%;
  background-repeat: no-repeat;
}

.black-bg {
  background: black;
}

.slider-img-1 img {
  width: 100%;
}

.slider-img-2 {
  width: 100%;
  position: absolute;
  z-index: 5;
  animation-duration: 0.5s;
}

.slider-img-2 img {
  width: 100%;
}

.top-img {
  z-index: 15;
}

.active {
  z-index: 15;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.right-arrow,
.left-arrow {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow img:hover,
.left-arrow img:hover {
  cursor: pointer;
}

.services {
  padding: 52px 40px 33px 40px;
  box-sizing: border-box;

  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.04px;
  line-height: 1.667;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services h2 {
  margin: 0 auto;

  color: #666d89;
  font-size: 30px;
  font-weight: 700;
}

.services>p {
  margin-top: 11px;
  margin-bottom: 39px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  align-items: flex-start;
}


.services-item img {
  margin-top: 7px;
}

.services-item-text {
  margin-left: 18px;
}

.services-item h3 {
  margin-top: 7px;

  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.services-item p {
  margin: 10px 0 26px 0;

  text-align: justify;
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}

.portfolio {
  padding: 70px 40px 47px 40px;

  color: #666d89;

  background-color: #2d303a;
  box-sizing: border-box;
  border-bottom: 6px solid #323746;
}

.portfolio h2 {
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
}

.portfolio p {
  margin-top: 26px;
  margin-bottom: 11px;

  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.portfolio-nav-btn {
  padding: 0 6px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;

  background-color: #2d303a;
  border-radius: 6px;
  border: 1px solid #666d89;
}

.portfolio-nav-btn:not(:first-child) {
  margin-left: 6px;
}

.portfolio-nav-btn:first-child,
.portfolio-nav-btn:nth-child(2) {
  padding: 0 7px;
}

.portfolio-nav-btn:hover {
  color: #dedede;

  cursor: pointer;
  border-color: #dedede;
}

.portfolio-nav-btn:active {
  outline: none;
}

.portfolio-nav-active {
  color: #dedede;

  outline: none;
  border-color: #dedede;
}

.pictures {
  /* height: 600px; */
  max-width: 940px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  margin-top: 19px;
}

.picture {
  overflow: hidden;
  margin-bottom: 20px;

}

.picture:hover {
  cursor: pointer;
}

.outlined {
  box-sizing: border-box;
  border: 5px solid #F06C64;
}

.about {
  color: #666d89;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
}

.about p {
  margin-top: 27px;
  margin-bottom: 45px;

  text-align: justify;
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.people {
  display: flex;
}

.people-item img {
  width: 100%;
}

.people-item dl {
  display: block;
  overflow: hidden;
}

.people-item dt {
  display: block;
  width: 100%;

  font-size: 18px;
  font-weight: 900;
  line-height: 17.86px;
  white-space: nowrap;
}

.people-item dd {
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}

.people-item:first-child dd {
  word-spacing: -1px;
}

.people-item i {
  margin-right: 5px;

  font-size: 14px;
}

.people i::before {
  height: 30px;
  width: 30px;

  line-height: 30px;

  border-radius: 50%;
  border: 1px solid #666d89;
}

.people-item i:hover {
  color: blue;

  cursor: pointer;
}

.people-item i:hover::before {
  height: 30px;
  width: 30px;

  line-height: 30px;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid blue;
}

.get-a-quote {
  color: #f0d8d9;

  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

.get-a-quote h2 {
  margin-bottom: 27px;

  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
}

.get-a-quote p {
  margin-bottom: 43px;

  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.get-a-quote form {
  display: flex;
}

.get-a-quote .form-wrapper {
  display: flex;
}

.get-a-quote input {
  margin-bottom: 16px;
}

.input-wrapper {
  max-width: 783px;
  margin-right: 20px;
}

.input-wrapper>* {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 400;

  border: none;
  border-radius: 4px;
  background-color: #d6564f;
}

.input-wrapper>*:focus {
  outline: none;
}

.input-wrapper>*::placeholder {
  color: #f48c8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
}

.input-wrapper textarea {
  padding-top: 7px;
  padding-bottom: 8px;
  resize: none;
}

.input-wrapper input[type='submit'] {
  margin-top: 16px;
  padding: 11px 49px;
  width: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  background-color: #FBC65F;
}

.input-wrapper textarea::placeholder {
  letter-spacing: -1.5px;
}

.get-a-quote li {
  list-style: none;
}

.contacts {
  width: 40%;
}

.contacts h3 {
  margin-top: 1px;
  font-size: 18px;
  font-weight: 900;
  line-height: 17.86px;
}

.contacts p,
.contacts li {
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  text-align: justify;
  word-spacing: -2px;
  letter-spacing: 0.1px;
}

.contacts p {
  margin-top: 12px;
  margin-bottom: 25px;
}

.contacts ul li {
  letter-spacing: 0.4px;
}

.contacts a {
  color: inherit;
  text-decoration: none;
}

.contacts i {
  margin-right: 9px;

  font-size: 14px;
}

.contacts input {
  width: 100%;
  margin-top: 20px;
  padding: 13px 15px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 400;
  color: #f48c8f;

  border: none;
  border-radius: 4px;
  background-color: #d6564f;
}

.contacts input:hover {
  cursor: pointer;
  color: black;
}

.contacts input[type="submit"]:focus {
  outline: none;
}

.invalid-input {
  outline: 3px solid red;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 43px 28px 41px;

  color: #666d89;

  background-color: #2d303a;
}

footer p {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 300;
  line-height: 34px;

  letter-spacing: 0.7px;
}

footer i {
  padding: 7px;
  margin-left: 8px;

  font-size: 13px;

  border-radius: 50%;
  border: 1px solid #666d89;
}

footer i:hover {
  cursor: pointer;
  color: #ea676b;
  border: 1px solid #ea676b;
}


@media screen and (min-width: 1020px) {
  .burger-menu-icon {
    display: none;
  }

  .picture {
    width: calc((100% - 60px)/4);
  }

  .picture:not(:nth-child(4n)) {
    margin-right: 20px;
  }

  .services-item:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .services-item {
    width: calc((100% - 40px)/3);
  }

  .about {
    padding: 69px 40px 68px 40px;
  }

  .people-item {
    width: calc((100% - 40px)/3);
  }

  .people-item:not(:first-child) {
    margin-left: 20px;
  }

  .people-item dl {
    margin-top: 15px;
  }

  .people-item dd {
    margin-top: 10px;
    margin-bottom: 23px;
  }

  .get-a-quote {
    padding: 69px 40px 41px 40px;
  }
}

@media (max-width: 1019px) and (min-width: 768px) {
  header {
    padding: 42px 40px 31px 40px;
  }

  .burger-menu-icon {
    display: none;
  }

  .burger-modal {
    display: none;
  }

  .pictures {
    margin-top: 27px;
  }

  .picture {
    width: calc((100% - 40px)/3);
  }

  .picture:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .services {
    padding: 32px 74px 23px 41px;
  }

  .services>p {
    margin-bottom: 30px;
  }

  .services-item {
    width: calc((100% - 53px)/2);
    margin-bottom: 20px;
  }

  .services-item:nth-child(2n) {
    margin-left: 53px;
  }

  .about {
    padding: 62px 40px 68px 40px;
  }

  .about p {
    margin-bottom: 38px;
  }

  .people-item {
    width: calc((100% - 30px)/3);
  }

  .people-item:not(:first-child) {
    margin-left: 15px;
  }

  .people-item dl {
    margin-top: 10px;
  }

  .people-item dd {
    margin-top: 2px;
    margin-bottom: 13px;
  }

  .get-a-quote {
    padding: 65px 40px 28px 40px;
  }

  .get-a-quote>p {
    margin-bottom: 24px;
  }

  .get-a-quote input {
    margin-bottom: 12px;
  }

  .input-wrapper {
    max-width: 560px;
    margin-right: 30px;
  }

  .contacts p {
    margin-top: 4px;
    margin-bottom: 14px;
  }

  footer {
    padding: 17px 43px 28px 41px;
  }
}


@media (max-width: 767px) {
  header {
    padding: 25px 20px 16px 20px;
  }

  .logo {
    margin-left: 47px;
    font-size: 19.6875px;
    line-height: 24px;
  }

  .burger-menu-icon {
    position: absolute;
  }

  .burger-modal .menu {
    display: flex;
  }

  .burger-modal .menu ul {
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .services {
    padding: 16px 29px 2px 32px;
  }

  .services>p {
    margin-bottom: 21px;
  }

  .services-item p {
    margin: 10px 0 21px 0;
  }

  .portfolio {
    padding: 53px 30px 36px 30px;
  }

  .portfolio p {
    margin-bottom: 15px;
  }

  .pictures {
    height: 553px;
    margin-top: 25px;
  }

  .picture {
    width: calc((100% - 13px)/2);
    margin-bottom: 14px;
  }

  .picture:not(:nth-child(2n)) {
    margin-right: 13px;
  }

  .about {
    padding: 43px 30px 3px 30px;
  }

  .about p {
    margin-bottom: 53px;
  }

  .people {
    flex-direction: column;
  }

  .people-item {
    width: 100%;
    margin-bottom: 34px;
  }

  .people-item dl {
    margin-top: 16px;
  }

  .people-item dd {
    margin-top: 3px;
    margin-bottom: 13px;
  }

  .get-a-quote {
    padding: 54px 31px 24px 30px;
  }

  .get-a-quote p {
    margin-bottom: 52px;
  }

  .get-a-quote form {
    flex-direction: column;
  }

  .get-a-quote .contacts {
    width: 100%;
    margin-top: 22px;
  }

  .input-wrapper input,
  .input-wrapper textarea {
    width: 107%;
    margin-bottom: 12px;
  }

  .input-wrapper input[type='submit'] {
    width: 107%;
    margin-top: 5px;
    padding: 15px 49px;

  }

  .contacts p {
    margin-top: 4px;
    margin-bottom: 13px;
  }

  .contacts ul li {
    margin-bottom: 6px;
  }

  footer {
    display: flex;
    padding: 27px 43px 28px 41px;

    justify-content: center;
  }

  footer p {
    display: none;

  }
}

@media (max-width: 374px) {
  .portfolio nav {
    display: flex;
    flex-direction: column;
  }

  .portfolio-nav-btn:first-child,
  .portfolio-nav-btn:nth-child(2) {
    padding: 0;
  }

  .portfolio-nav-btn:not(:first-child) {
    margin-left: 0;
  }

  .portfolio-nav-btn:not(:last-child) {
    margin-bottom: 10px;
  }
}
